{% extends "drinks/layout.html" %}
{% block body %}
	<div class="container overflow-hidden">
		<div class="row">
			<a href="{% url 'index' %}">Back to Drinks List</a>
		</div>
        <form action="{%url 'add' %}" enctype="multipart/form-data" method="post">
			<legend>Add New Drink</legend>
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Add Drink">
        </form>
	</div>
	<script>
		$('form > label').each(function(){
			$(this).next().addBack().wrapAll('<div class="mb-3"/>');
		});		
		$('label').addClass("form-label");
		$('select').addClass("form-control");
		$('input').addClass("form-control");
		$('textarea').addClass("form-control");
		$('textarea').attr('placeholder', 'Not required');
	</script>
{% endblock %}