{% extends "drinks/layout.html" %}
{% block body %}
	<script
		src="https://www.paypal.com/sdk/js?client-id=AZci21POXG3JTRRsL0Lt_FY2m43muEA36bKYKOvATmhRmiNfWqOtG_JV3RJymqtjrIKTL2-9nw_R844k&currency=AUD"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
	</script>
	{% if test%}
		<div>{{test}}</div>
	{% endif %}
	<div class="container">
		<div class="row">
			<a href="{% url 'index' %}">Back to Drinks List</a>
		</div>
		<div class="row">
			<h1>My Cart</h1>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Drink Name</th>
					<th scope="col">Unit Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total Price</th>
				</tr>
			</thead>
			<tbody>
				{% for key, value in cart.items %}
				<tr>
					<th scope="row">{{ value.name }}</th>
					<td>${{ value.price }}</td> 
					<td>
						<form action="{% url 'update_cartitem' key %}" method="post">
							{% csrf_token %}
							<div class="input-group mb-3">
								<input type="number" name="quantity" min="0" value="{{value.quantity}}" class="form-control">
								<input type="submit" value="Update Quantity" class="btn btn-outline-secondary">
							</div>
						</form>    
					</td>
					<td class="table-active">
						
						<form action="{% url 'delete_cartitem' key %}" method="post">
							{% csrf_token %}
							<div class="input-group mb-3">
								<input class="form-control" value="${{value.total_price}}" disabled></input>
								<input type="submit" value="Remove" class="btn btn-outline-secondary">
							</div>
						</form>
					</td>
				</tr>
				{% empty %}
				<tr>
					<th colspan="4" class="table-danger">No items</th>
				</tr>
				{% endfor %}
				{% if cart_total_price > 0 %}
				<tr>
					<th scope="row" class="table-warning">Total Cart Price</th>
					<td colspan="2"></th>
					<td colspan="1" class="table-success"><strong>${{cart_total_price}}</strong></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		{% if cart %}
		<div id="paypal-button-container" style="float: right;"></div>
		{% endif %}
	</div>
	<script>    
        paypal.Buttons({
            createOrder: function(data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount:{
                            value: '{{cart_total_price}}',
                            currency_code: 'AUD',
                            breakdown: {
                                item_total: {value: '{{cart_total_price}}', currency_code: 'AUD'}
                            }
                        },
                        items: [{% for key, value in cart.items %}
                                {
                                    name: '{{value.name}}',
                                    unit_amount: {value: '{{value.price}}', currency_code: 'AUD'},
                                    quantity: '{{value.quantity}}'
                                },
                            {% endfor %}
                        ]
                    }]
                });
            },
            onApprove: function(data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function(details) {
                    // This function shows a transaction success message to your buyer.
                    alert('Transaction completed by ' + details.payer.name.given_name);

                });
            }
        }).render('#paypal-button-container');
	</script>
{% endblock %}