{% extends "drinks/layout.html" %}
{% block body %}
        {% if message%}
            <div>{{message}}</div>
        {% endif %}
        <h1>My Cart</h1>
        <div class='row'>
            {% for key, value in cart.items %}
                <div class='col-3'>Image Here</div>   
                <div class='col-9'>{{value.name}}</div>  
                <div class='col-4'>
                    
                </div>
                <div class='col-4'>{{value.price}}</div>
                <div class='col-4'>{{value.total_price}}</div>
              
            {% empty %}
                <li>No drinks</li>
            {% endfor %}
        </div>
        <a href="{% url 'index' %}">Back to Drinks List</a>
{% endblock %}